{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-12 my-4">
            </div>
            <div class="col-12 col-lg-4">  
                <img class="card-img-top" src="{{ url_for('static', filename='images/book_cover.png') }}"  alt="book cover">
            </div>
            <div class="col-12 col-lg-8">
                <div class="d-flex flex-column">
                    <h3>{{ book.name }}</h3>

                    <p><b>Автор:</b> {{ book.author }}</p>

                    <p>
                        <b>Жанры:</b>
                        {%for genre in  book.get_genres %}
                            {{genre.name}}
                        {%endfor%}
                    </p>

                    <p><b>Год:</b> {{ book.year }}</p>

                    <p><b>Издательство:</b> {{ book.publisher }}</p>

                    <p><b>Oписание:</b> {{ book.description | safe }}</p>
                </div>
            </div>
            <div class="col-12">
            </div>
        </div>
    </div>
{% endblock %}
